@use '../../../styles/vars' as v;

.Searchbar {

  &-form {
    display: flex;
    padding: v.$gutter;
    line-height: 2.5rem;
    max-width: 80vw;

    &-input,
    &-button {
      border: 0;
    }

    &-input {
      flex-grow: 1;
      border-radius: 1.5rem;
      text-align: center;
    }

    &-button {
      display: flex;
      transition: color .3s linear;
      align-items: center;
      background-color: transparent;
      color: v.$color-dark-khaki;

      &:hover {
        color: v.$color-saddle-brown;
      }
    }
  }
}
